.navbar{
    border-bottom: none;
    background-color: #000;
    padding: 20px 10px;
    margin-top: 20px;
}
.navbar-dark .navbar-brand{
    font-style: normal;
}
.navbar>.container-fluid{
    justify-content: space-between;
}
.navbar-collapse{
    flex-grow: inherit;
}
.navbar-dark .navbar-brand{
    padding: 0;
}
.kjpoll-wrap{
    display: flex;
    justify-content: center;
}
form{
    width: 100%;
}
.kjpoll{
    background-color: #0d2e3d;
    padding: 10px 20px;
    margin: 15px 0;
}
.kjpoll h3{
    font-size: 22px;
    margin: 10px 10px 20px;
}
.kjpoll input{
    display: none;
}
.kjpoll input:checked + label{
    border-color: #79d6f2;
    background-color: #79d6f2;
    color: #000;
}
.kjpoll label{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 10px;
    border: 2px solid #aaa;
    padding: 10px 25px;
    width: 30%;
    text-align: center;
}
#footer{
	display: none; 
}
/*Media Queries*/ 
@media (max-width: 768px){
	.kjpoll h3{
		font-size: 18px;
		margin: 10px 0px 20px;
	}
	.kjpoll label{ 
		width: 100%;
		margin: 10px 0;
    	padding: 5px 10px;
	}
}
